
<div class="container" style="padding-top: 20px">

  <span class="row pull-right">

      <button type="button" class="btn btn-link" ng-click="changePage(currentPage - 1)" ng-disabled="currentPage == 1">&laquo;</button>
      Page: {{ currentPage }} / {{ pages }}
      <button type="button" class="btn btn-link" ng-click="changePage(currentPage + 1)" ng-disabled="currentPage == pages">&raquo;</button>

  </span>

  <span class="row" style="margin-top: 10px;">
    <button class="btn btn-danger btn-sm" ng-click="delete()">Delete</button>
    <!-- <button class="btn btn-default btn-sm pull-right">Refresh</button> -->
    <a href="#" ng-click="refresh()"><span class="glyphicon glyphicon-refresh "></a>
  </span>



  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" ng-click="toggleSelectAll()"></th>
        <th>From</td>
        <th>Attachment</th>
        <th>Subject</th>
      <tr>
    </thead>

    <tbody>

      <tr ng-repeat="email in inbox">
        <td><input type="checkbox" value="email.id" ng-checked="selection.indexOf(email.id) > -1" ng-click="toggleSelection(email.id)" ></td>
        <td>{{ email.from }}</td>
        <td>{{ email.attachment }}</td>
        <td><a ui-sref="read({ id: email.id })">{{ email.subject }}</a></td>
      </tr>

    </tbody>

  <table>

</div>
