<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">securemail</h3>
</div>

<div class="container">


  <ul id="mail-tabs" class="nav nav-tabs" role="tablist">
    <li ui-sref-active="active"><a ui-sref="inbox">Inbox</a></li>
    <li ui-sref-active="active"><a ui-sref="sent" >Sent</a></li>
    <li ui-sref-active="active"><a ui-sref="drafts">Drafts</a></li>
    <li ui-sref-active="active"><a ui-sref="bin">Bin</a></li>
    <li ui-sref-active="active"><a ui-sref="new">New Message</a></li>
  </ul>

  <ui-view>

</div>




<!-- <div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div> -->
