
<form class="form-horizontal" role="form" style="padding-top: 20px">
  <div class="form-group">
    <label for="inputTo" class="col-sm-2 control-label">To: </label>
    <div class="col-sm-10">
      <select multiple ui-select2="select2Options" ng-model="to" style="width: 300px">
          <option ng-repeat="contact in contacts" value="{{ contact.id }}">{{ contact.name }}</option>
      </select>

    </div>
  </div>
  <div class="form-group">
    <label for="inputCc" class="col-sm-2 control-label">CC:</label>
    <div class="col-sm-10">
      <select multiple ui-select2="select2Options" ng-model="cc" style="width: 300px">
          <option ng-repeat="contact in contacts" value="{{ contact.id }}">{{ contact.name }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputContent" class="col-sm-2 control-label">Message:</label>
    <div class="col-sm-10">
        <textarea id="inputContent" class="form-control col-sm-2" rows="3"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Send</button>
      <button class="btn btn-default">Cancel</button>
    </div>
  </div>




</form>
